/* Legende du style
1 - HEADER
2 - Bar Navigation top


4 - responsive
*/

body{
    background-color:#fff;
    color: black; 
    margin:0;
    overflow-x: hidden;
}
.container-fluid{
    padding-right: 0;
    padding-left:0;
}
/* HEADER */
.top{
    background-color: #434543;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
}
.logo{
    max-width: 100px;
    max-height:100px;
}
.barsection{
    width: 100%;
    height: 5px;
    background-color: #FC7F3C;
    display:flex;
    align-items: center;
    justify-content: center;
}

hr{
    margin:0;
    padding:0;
}


/* Fin Header */ 

/* BAR NAV */
.barnav{

/* background-color: rgba(0, 0, 0, 0.3); */
color: black;
width: 100%;
background-color:rgba(114, 183, 88);
height: 20vh;
}
.button {
    border:solid 2px black;
    align-self: start;
    display:grid;
}
.btn-home{

    margin-left: 25px;
    background-image: url(../images/btn01.png);
    height: 150px;
    border-radius: 5px;
    list-style-type: none;
}
.barnav{
    display: flex !important;
    /* grid-template-columns: 540px 540px 540px;
    grid-template-rows: 150px;  */
    /* grid-column-gap: 10px;
    grid-row-gap: 15px; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }
.dropdown-menu{
    width: 400px;
    margin-top:0;
    height: 150px;
    float:top !important;
    top: -150px !important;
    background-color: rgba(255,255,255,0.9) !important;
    border-right: 3px solid black;
}
.item-yellow:hover{
    background-color: rgba(237, 215, 0);
}
.item-green:hover{
    background-color: rgba(100, 212, 84);
}
.item-orange:hover{
    background-color: rgba(229, 118, 7);
}
.barnav ul li{
    list-style-type: none;
}

/* Fin de bar nav */
@media screen and (max-width: 1440px){
    .barnav{
        display:flex;
        align-items: initial;
        justify-content: baseline;
        width:100%;
    }
    .btn-home{
        margin-top: 5px;
        background-image: url(../images/320.png);
        border-radius: 5px;
        margin-left: 8px;
    }
    .top{
        width:100%;
    }

} 
@media screen and (max-width: 1800px){
    .barnav{
        display:flex;
        align-items: initial;
        justify-content: baseline;
        
    }
    .btn-home{
        margin-top: 5px;
        background-image: url(../images/320.png);
        border-radius: 5px;
        margin-left: 8px;
    }
    .top{
        width:100%;
    }

}

@media screen and (max-width: 1024px){
    .barnav{
        display:flex;
        align-items: initial;
        justify-content: baseline;
        
    }
    .btn-home{
        margin-top: 5px;
        background-image: url(../images/320.png);
        border-radius: 5px;
        margin-left: 8px;
    }
    .top{
        width:100%;
    }

}


/* responsive screen 768 width */
@media screen and (max-width: 768px){
    .barnav{
        display:flex;
        align-items: initial;
        justify-content: baseline;
       
    }
    .btn-home{
        margin-top: 5px;
        background-image: url(../images/320.png);
        border-radius: 5px;
        margin-left: 8px;
    }
    .top{
        width:100%;
    }

}

/* responsive screen 425 width */
@media screen (max-width: 425px){
    .barnav{
        display:flex;
        align-items: initial;
        justify-content: baseline;
       
    }
    .btn-home{
        margin-top: 5px;
        background-image: url(../images/320.png);
        border-radius: 5px;
        margin-left: 8px;
    }
    .top{
        width:100%;
    }

}

/* responsive screen 380 width */
@media screen and(min-width:380px){
    .btn-home{
        margin-top: 5em;
    }
    .top{
        width:100%;
    }
} 

/* responsive screen 375 width */
@media screen and (max-width: 375px){
    .barnav{
        display:flex;
        align-items: initial;
        justify-content: baseline;
        flex-direction:column;
        height:100%;
        padding: 10px;
        
    }
    .btn-home{
        margin-top: 5px;
        background-image: url(../images/320.png);
        border-radius: 5px;
        margin-left: 8px;
    }
    .top{
        width:100%;
    }

}

@media screen and (max-width: 360px){
    .barnav{
        display:flex;
        align-items: initial;
        justify-content: baseline;
        flex-direction:column;
        
    }
    .btn-home{
        margin-top: 5px;
        background-image: url(../images/320.png);
        border-radius: 5px;
        margin-left: 8px;
    }
    .top{
        width:100%;
    }

}

/* responsive screen 320 width */
@media screen and (max-width: 320px){
    .barnav{
        flex-direction:column;
       
    }
    .btn-home{
        margin-top: 5px;
        background-image: url(../images/320.png);
        border-radius: 5px;
        margin-left: 0px;
    }
    .top{
        width:100%;
    }
    .dropdown-menu{
        width: 300px;
        border: solid 2px orangered;
    }


}





