/* Legende du style
1 - HEADER
2 - Bar Navigation top


4 - responsive
*/

body{
    background-color:#fff;
    color: black; 
    margin:0;
    overflow-x: hidden;
}
.container-fluid{
    padding-right: 0;
    padding-left:0;
}
/*header*/
.btn-group{
    display:initial !important;
}
.dropdown-menu{
    width:100%;
    height: 120px;
    text-align:center;
}
.navbar-light{
background-color: #333 !important;
}
.nav-link{
    color:white !important;
}
.logo{
    max-width:5em;
    max-height: 2em;
}
/* Fin du Header */ 

/* navbar personnaliser */
.bordernav{
    background-color:orangered;
    width:100%;
    height:5px;
    margin:0;
    padding:0;
}
.navbar-perso{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5px;
}
.card{
   border:none; 
   text-align:center;
   background-color: none !important;
   padding: 5px;
   margin: 5px;
   border-radius:0;
}
.card{
    overflow:hidden;
}
.card-body{
    padding:0;
}
.card-body1{
   
    padding:0;
    background-image: url(../images/btn01.png);
    background-repeat: no-repeat;
    height:150px;
}
.card-body2{
    
    padding:0;
    height:150px;
    background-image: url(../images/btn02.png);
    background-repeat: no-repeat;
}
.card-body3{
    
    padding:0;
    height:150px;
    background-image: url(../images/btn03.png);
    background-repeat: no-repeat;
}
.btnperso1{
    background-color:#F0BB08;
    color:black;
    border-radius:0;
    border:0;
    border-top: solid 1px black;
    margin-top: 7.5em;
    width: 100%;
}
.btnperso2{
    background-color:#639143;
    color:black;
    border-radius:0;
    border:0;
    border-top: solid 1px black;
    margin-top: 7.5em;
    width: 100%;
}
.btnperso3{
    background-color:#639143;
    color:black;
    border-radius:0;
    border:0;
    border-top: solid 1px black;
    margin-top: 7.5em;
    width: 100%;
}
.btnperso1:hover{
    background-color:#639143;
    color:black;
}
.btnperso2:hover{
    background-color:#F0BB08;
    color:black;
}
@media (min-width:200px) and (max-width:1024px){
    .navbar-perso{
        flex-direction:column;

    }   
    .card-body{
        width:auto;
    }
}
@media (min-width:1700px){
    .card-body{
        width: 550px;
    }
}





