/* Legende du style
1 - HEADER
2 - Bar Navigation 
3 - Formation defil
4 - Article
4 - responsive
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    background-color:#fff;
    color: black; 
    margin:0;
    overflow-x: hidden;
}
.container-fluid{
    padding-right: 0;
    padding-left:0;
}
/*header*/
.btn-group{
    display:initial !important;
}
.dropdown-menu{
    width:100%;
    height: 120px;
    text-align:center;
}
.navbar-light{
background-color: #333 !important;
}
.nav-link{
    color:white !important;
}
.logo{
    max-width:5em;
    max-height: 2em;
}
/* Fin du Header */ 

/* navbar personnaliser */
.bordernav{
    background-color:orangered;
    width:100%;
    height:5px;
    margin:0;
    padding:0;
}
.navbar-perso{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5px;
}
.card{
   border:none; 
   text-align:center;
   background-color: none !important;
   padding: 5px;
   margin: 5px;
   border-radius:0;
}
.card{
    overflow:hidden;
}
.card-body{
    padding:0;
}
.card-body1{
   
    padding:0;
    background-image: url(../images/btn01.png);
    background-repeat: no-repeat;
    height:150px;
}
.card-body2{
    
    padding:0;
    height:150px;
    background-image: url(../images/btn02.png);
    background-repeat: no-repeat;
}
.card-body3{
    
    padding:0;
    height:150px;
    background-image: url(../images/btn03.png);
    background-repeat: no-repeat;
}
.btnperso1{
    background-color:#f47721;
    color:black;
    border-radius:0;
    border:0;
    border-top: solid 1px black;
    margin-top: 7.5em;
    width: 100%;
}
.btnperso2{
    background-color:#639143;
    color:black;
    border-radius:0;
    border:0;
    border-top: solid 1px black;
    margin-top: 7.5em;
    width: 100%;
}
.btnperso3{
    background-color:#ffcb08;
    color:black;
    border-radius:0;
    border:0;
    border-top: solid 1px black;
    margin-top: 7.5em;
    width: 100%;
}
.btnperso1:hover{
    background-color:#ffcb08;
    color:black;
}
.btnperso2:hover{
    background-color:#f47721;
    color:black;
}
.btnperso3:hover{
    background-color: #639143;
    color:black;
}
/* Fin bar perso */ 

/* Menu animation nos formations */ 
.nformations{
    background-color: orangered;
    color: black;
    width: 500px;
    clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
    text-align:center;
}
.nformations h5{
    margin-top:3px;
    color: white;
}
.bg-secondary{
    background-color:white !important;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
.bg-info{
    background-color: orangered !important;
    width: 250px;
}
/* Texte défilant */

  #cadrpg { 
      width:100%; 
      margin:0 auto; 
      border:0; 
      overflow:hidden;
    } 
#newshr { 
    position:relative; 
    width: 100%; 
    height:60px; 
    overflow:hidden;  
    color:inherit;  
    border:1px inset white;
    border-bottom: solid 5px orangered;
 } 
#defile { 
    position:absolute; 
    margin-top:-45px; 
    z-index:2;
    font-size: 1.5em;
}
.defileorange{
    z-index:3;
    position:relative; 
    height: 60px;
    clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);

}
.defileorange span{
    color: white;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;   
}
.title{
    margin-top: 5px;
}
.badge-info{
    background-color: orangered !important;
}
/* Fin menu defilement */ 

/* Article */
.article{
    display: flex;
    background-color: rgba(80, 143, 83);
    padding:5px;
}
.article .card{
    background-color:rgba(80, 143, 83) !important;
}
.article .card-title{
    border:solid 1px black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    display: flex;
    font-size:1.5em;
}
.article .dateactu{
    align-items: flex-end;
    font-size: 0.5em !important;
    height: 20px;
    margin-top: 10px; 
    margin-left: 170px;

}
.article .card-img-top{
    margin:0;
    border-radius: 0;
    margin-top: -12px;
}
.article .card-article{
    text-align:center;
    align-items: center;
    justify-content: center;
    background-color:none !important;
}
.article .card-body{
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: solid 1px black;
    background-color: white;
    padding: 5px;
    text-align:center;
}
.article button{
    text-align:none;
    margin-left: 400px;
}
.vs{
    background-color:orangered;
    color : white;
    border: none;
}
.btn-primary:hover{
    background-color:#ffc107 !important;
    color: black !important;
}
/* Fin Article */ 
/* Footer */
.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#333;
    color: white;
    text-align: center;
    height: 80px;
    position:fixed;
}
.btn-newsletter{
    position:fixed;
    bottom:0;
    right:0;
    max-width: 330px;
    height: 55px;
}
.btn-newsletter input{
    height:55px;
}
.btn-news-perso{
    background-color:orangered;
    color:white;
}
.copryright{
    position:fixed;
    bottom: 2vh;
    left:0;
}
/* Fin du Footer */

@media (min-width:200px) and (max-width:1023px){
    .navbar-perso{
        flex-direction:column;
    } 
    .article{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 
    .article .col-lg-4{
        width: 100%;
    } 
    .card-body{
        width:auto;
    }
    .nformations h5{
        margin-top:3px;
        color: white;
        font-size:1em;
    }
    .nformations{
        background-color: orangered;
        color: black;
        width: 100px;
        clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
        text-align:center;
    }
    .footer{
        flex-direction:column;
        height: 130px;
    }
    .copryright
    {
        bottom: 4.5vh;
    }
}
@media screen and(min-width:1024px){
    .article{
        align-items: center;
        justify-content: center;
    } 
}
@media (min-width:1700px){
    .card-body{
        width: 550px;
    }
}






